---
import {Astro} from "astro/env";
const {item} = Astro.props
---
<div class:list={["border-gray-200 rounded-md border-2 flex flex-col gap-4 py-4 px-3"]}>
    <img src={item.image} alt={item.name} class:list={["h-52 w-full object-contain"]}/>
    <div class:list={["h-full flex flex-col justify-between"]}>
        <h1 class:list={['font-semibold line-clamp-2']}>{item.title}</h1>
        <div class:list={["flex flex-row justify-between items-center"]}>
            <h6>${item.price}</h6>
            <button class:list={[
                ['border-black border-2 px-6 rounded-md text-xl'],
                ['hover:bg-black hover:text-white transition-all duration-200 cursor-pointer'],
            ]}>Buy
            </button>
        </div>
    </div>
</div>